
.copy-code-button {
  color: var(--text-faint);

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;

  position: absolute;
  top: 0px;
  right: 0px;

  &:hover, &:active {
    cursor: pointer;
    color: var(--interactive-accent-hover);
  }

  &:focus {
    outline: 0;
  }
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}

.has-copy-button {
  position: relative;
}
