
.copy-code-button {
  /* right-align */
  display: none;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;

  position: absolute;
  top: 0px;
  right: 0px;

  svg.copy path {
    fill: var(--interactive-normal);
  }

  &:hover, &:active {
    cursor: pointer;
    svg path {
      fill: var(--interactive-accent-hover);
      transition: all ease 0.3s;
    }
  }

  svg.copy-success path {
    fill: var(--interactive-success);
  }

  &:focus {
    outline: 0;
  }
}

.has-copy-button pre {
  position: relative;
  &:hover {
    .copy-code-button {
      display: block;
    }
  }
}
