.code-block-copy-button {
  color: var(--background-primary);
  background-color: var(--text-faint);
  border-radius: 1px 1px 0px 0px;

  /* right-align */
  display: block;
  margin-left: auto;
  margin-right: 0;

  margin-bottom: -2px;
  padding: 3px 8px;
  font-size: 0.8em;

  position: absolute;
  top: 0px;
  right: 0px;
}
.code-block-lang-tip {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--text-normal);
  font-size: 0.8em;
  margin-left: 4px;
  user-select: none;
}
.code-block-copy-button:hover {
  cursor: pointer;
  background-color: var(--text-normal);
}

.code-block-copy-button:focus {
  /* Avoid an ugly focus outline on click in Chrome,
     but darken the button for accessibility.
     See https://stackoverflow.com/a/25298082/1481479 */
  background-color: var(--text-normal);
  outline: 0;
}

.code-block-copy-button:active {
  background-color: var(--text-normal);
}

.highlight pre {
  /* Avoid pushing up the copy buttons. */
  margin: 0;
}

pre[class*="language-"].code-block-wrap {
  position: relative;
}
